.titulo {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
  display: block;
}

.tituloDetalhe {
  font-weight: bold;
  font-size: 1.2rem;
}

.user-details {
  width: 100%;
  height: 100%;
}
